@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Open+Sans&display=swap");
* {
  margin: 10px;
  font-family: Comfortaa;
}
header {
  position: absolute;
  height: 230px;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: #2182bf;
  margin: 0px;
  display: flex;
  justify-content: center;
}
header > img {
  margin: 0px;
  margin-top: inherit;
}
nav {
  position: absolute;
  height: 70px;
  left: 0px;
  right: 0px;
  top: 230px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #132240;
  margin: 0px;
}
nav > * {
  background-color: transparent;
  border: none;
  font-family: Comfortaa;
  font-weight: 500;
  color: #2182bf;
  font-size: 24px;
  line-height: 27px;
}
.unusedToolsReplacement {
  margin-top: 350px;
}

.prevOrNextButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prevPokemonButton {
  width: 420px;
  height: 80px;
  background-color: #d94436;
  border-style: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 80px;
  margin-right: auto;
  text-transform: capitalize;

}
.prevPokemonButton:hover {
  border-style: inset;
  background-color: #d94436de;
  cursor: pointer;
}

.nextPokemonButton {
  width: 420px;
  height: 80px;
  background-color: #f2b807;
  border-style: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 80px;
  margin-left: auto;
  text-transform: capitalize;

}

.nextPokemonButton:hover {
  border-style: inset;
  background-color: #f2b707de;
  cursor: pointer;
}

h1 {
  width: 1120px;
  height: 120px;
  margin: auto;
  text-align: center;
  background: #132240;
  border-radius: 15px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 120px;
  color: #4bc6f2;
  text-transform: capitalize;

}
figure {
  float: left;
}
figure > img {
  width: 530px;
  margin-left: 80px;
  border: 1px solid #000000;
  border-radius: 15px;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
section {
  background-color: #c4c4c4;
  border-radius: 15px;
  font-size: 25px;
  line-height: 31px;
}
h2 {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}
.aboutSize {
  width: 575px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.aboutTitle{
  text-transform: capitalize;
}
.about {
  display: flex;
  text-align: justify;
}
.size {
  display: flex;
  justify-content: space-around;
}
.generationType {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  margin-top: 0 px;
}
.generationContainer {
  width: 280px;
}
.generation {
  display: flex;
  justify-content: space-around;
}
.typeContainer {
  width: 280px;
  margin-right: 74px;
}
.types {
  display: flex;
  justify-content: space-around;
}
.containerResistantEvolution {
  background-color: transparent;
  clear: left;
  display: flex;
}
.resistantWeakness {
  background-color: transparent;
  clear: left;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 74px;
  margin-top: 0px;
}
.statsEvolution {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-left: 0px;
  width: 823px;
}

.evolutionCandy {
  display: flex;
  font-size: 20.5px;
}

figcaption {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
}
