@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Open+Sans&display=swap");

* {
  margin: 10px;
  font-family: Comfortaa;
}

header {
  position: absolute;
  height: 230px;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: #2182bf;
  margin: 0px;
  display: flex;
  justify-content: center;
}

header > img {
  margin: 0px;
  margin-top: inherit;
}

nav {
  position: absolute;
  height: 70px;
  left: 0px;
  right: 0px;
  top: 230px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #132240;
  margin: 0px;
}

nav > * {
  background-color: transparent;
  border: none;
  font-family: Comfortaa;
  font-weight: 500;
  color: #2182bf;
  font-size: 24px;
  line-height: 27px;
}

.searchEngine {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 350px;
}
.searchInput {
  width: 50%;
  height: 50px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 30px;
  font-family: Comfortaa;
  font-size: 24px;
  line-height: 27px;
}
.searchButton {
  width: 200px;
  height: 50px;
  margin-top: 80px;
  position: absolute;
  background: #f2b807;
  border-radius: 30px;
  border: none;
  color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Comfortaa;
  font-size: 24px;
}
.categories {
  height: 60px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  background: #d94436;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.categories > * {
  background-color: transparent;
  border: none;
  font-family: Comfortaa;
  font-size: 24px;
}

.unusedToolsReplacement {
  margin-top: 350px;
}

.root {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemonCard {
  height: 280px;
  width: 200px;
  right: 70px;
  left: 70px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.pokemonCard:hover {
  cursor: pointer;
  background-color: rgba(215, 238, 170, 0.275);
  border: 2px solid rgb(140, 140, 140);
  opacity: 90%;
}

.num {
  text-align: right;
}

.img {
  margin: auto;
}

.name {
  text-align: center;
  font-size: 24px;
  text-transform: capitalize;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .searchEngine {
    margin-top: 330px;
  }
  .searchInput {
    width: 70%;
    height: 32px;
    font-size: 15px;
  }
  .searchButton {
    width: 150px;
    height: 24px;
    margin-top: 50px;
    font-size: 18px;
  }

  .categories {
    margin-top: 70px;
  }
  .categories > * {
    font-size: 18px;
    height: 40px;
    margin: 0px;
    border: black;
  }

  .root {
    justify-content: space-evenly;
  }
  .pokemonCard {
    height: 182px;
    width: 130px;
    right: 5px;
    left: 5px;
    margin-top: 10px;
  }
  .num {
    font-size: 12px;
    padding: 2px;
  }
  .img {
    height: 50%;
  }
  .name {
    font-size: 18px;
    margin: 0px;
  }
  .type {
    display: flex;
    height: 32px;
    font-size: 12px;
    margin: 1px;
  }
}

@media (max-width: 600px) {
  header {
    height: 180px;
  }

  nav {
    top: 180px;
    height: 120px;
    flex-direction: column;
    align-items: center;
  }
  nav > * {
    font-size: 20px;
    height: 40px;
    margin: 0px;
  }

  .searchInput {
    font-size: 12px;
  }

  .categories {
    height: 120px;
    margin-top: 100px;
    flex-direction: column;
  }
  .categories > * {
    font-size: 20px;
    height: 40px;
    margin: 0px;
    border: black;
  }

  .root {
    justify-content: space-evenly;
  }
  .pokemonCard {
    height: 168px;
    width: 120px;
    right: 5px;
    left: 5px;
    margin-top: 10px;
  }
  .num {
    font-size: 12px;
    padding: 2px;
  }
  .img {
    height: 45%;
  }
  .name {
    font-size: 18px;
    margin: 0px;
  }
  .type {
    display: flex;
    height: 32px;
    font-size: 12px;
    margin: 1px;
  }
}
